*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family:  "Microsoft YaHei";
}
html,body{
	width:100%;
	height: 100%;
}
/*头部导航*/
#header>.header_nav{
	width: 100%;
	height: 30px;
	background: #F2F2F2;
}
.header_nav>p{
	float: left;
	margin-left: 50px;
	height: 30px;
	line-height: 30px;
	color: #999;
	font-size: 15px;
}
.header_nav>ul{
	float: right;
	margin-right: 50px;
}
.header_nav>ul>li{	
	float: left;
}
.header_nav>ul>li:first-child{
	font-size: 14px;
	color:red;
	line-height: 20px;
	cursor: pointer;
}
.header_nav>ul>li>a{
	display: inline-block;
	padding: 5px 15px;
	font-size: 12px;
	color: #999;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
}
.header_nav>ul>li>a:hover{
	color: red;
}
.header_nav>ul>li:first-child>a:nth-child(2){
	padding-left: 0;
	color: red;
}
/*头部搜索区*/
#header>.header_container{
	position: relative;
	width: 100%;
	height: 140px;
}
/*商城标识图片区域*/
.header_container>.header_img{
	float: left;
	position: relative;
	margin-left: 80px;
	margin-top: 10px;
	width: 120px;
	height: 120px;
    border: 1px solid darkgray;
    box-shadow: 3px 4px 10px rgba(45,45,45,0.15);
    border-radius: 50%;
}
.header_img>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
/*鼠标移入图片实现3d动画*/
.header_img:hover{
	transform-style: preserve-3d;
	transform:rotateY(360deg);
    transition: all 1500ms;
    -moz-transform-style: preserve-3d;
	-moz-transform:rotateY(45deg);
	-moz-transition: all 1500ms;
}
.header_search{
	position: absolute;
	left: 55%;
	margin-left: -290px;
	margin-top: 50px;
}
.header_search input:first-child{
	padding-left: 10px;
	width: 450px;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	border: 2px solid #c40000;
	outline: none;
}
.header_search input:last-child{
	width: 80px;
	height: 37px;
	font-size: 17px;
	line-height: 37px;
	letter-spacing: 5px;
	background: #c40000;
	color: white;
	border: none;
	outline: none; 
	cursor: pointer;
}
.header_search>p>a{
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	color: #999;
	cursor: pointer;
}
.header_search>p>a:hover{
	color: red;
}
/*头部的购物车标记区域*/
.header_container>.shopping_bag{
	float: right;
	margin-top: 60px;
	margin-right: 120px;
	width: 190px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	color: red;
	background: #F3F3F3;
	cursor: pointer;
}
.shopping_bag>img{
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	width: 17px;
	height: 17px;
}
.shopping_bag>a{
	color: red;
}
.category{
	position: absolute;
	top: 50px;
    left: 240px;
    width: 166px;
    height: 45px;
}
.category>#channel{
	float: left;
    margin-right: 10px;
    font-size: 20px;
    line-height: 45px;
    font-weight: 400;
    color: #666;
    cursor: default;
}
.category_mini{
	float: left;
	position: relative;
    padding-top: 12px;
    height: 21px;
    color: #666;
    font-size: 12px;
    font-weight: 400;
}
.category_mini>#category_main{   
    position: relative;
    padding: 0 5px;
    width: 63px;
    height: 19px;
    line-height: 19px;
    color: #ccc;
    border: 1px solid #ccc;
    background: #fff;  
}
#category_main h2{
	color: #666;
    font-size: 12px;
    font-weight: 400;
}
#category_main h2 a{
	color: #666;
}
#category_hide{
	display: none;
    position: absolute;
    margin-top: -1px;
    padding: 13px;
    width: 152px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 9999;
}
#category_hide h3{
	color: #666;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}
#category_hide h3>a{
 	padding: 5px;
	color: #666;
    font-size: 12px;
}
#category_hide h3>a:hover{
	color: red;
}
/*快速搜索区域*/
.nav_show{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	border-bottom: 2px solid #F10214;
	background: white;
	z-index: 999;
}
.nav_show>div{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -17px;
	margin-left: -275px;
	width: 550px;
	height: 35px;
}
.nav_show>div>form>input{
	padding-left: 10px;
	width: 490px;
	background: #EFEFEF;
}
.nav_show>div>form>button{
	position: absolute;
	width: 50px;
	right: 0;
}
.nav_show>div>form>input,.nav_show>div>form>button{
	position: absolute;
	top: 0;
	height: 35px;
	border: none;
	outline: none;
}
#container{
	position: relative;
	margin: 30px auto;
	width: 100%;	
}
.product{
	margin: 0 auto;
	width: 980px;
}
.product>.pro_line{
	margin-bottom: 20px;
	width: 980px;
	height: 50px;
	line-height: 50px;
	font-size: 26px;
    font-family: sans-serif;
    font-weight: normal;
    color: #222;
}
.pro_line>h3{
	display: inline-block;
}
.product>.pro_show{
	margin: 0 auto;
	padding-left: 20px;
	width: 980px;
	height: 500px;
}
.pro_show>.pro{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 300px;
	height: 200px;
	border: 1px solid gainsboro;
}
.pro>.pro_img{
	margin: 20px;
	width: 120px;
	height: 120px;
}
.pro>.pro_text{
	float: right;
	margin-top: 30px;
	height: 130px;
	width: 140px;
	line-height: 25px;
}
.pro_text>p{
	margin-bottom: 10px;
}
.pro_text>p:first-child{
	color: red;
	font-weight: 900;
}
.pro_text>p:nth-child(2){
	font-size: 13px;
}
.pro_text>p:nth-child(3){
	font-size: 12px;
	color: #999;
}
.pro>.add_btn{
	float: right;
}
.add_btn>a{
	display: block;
	width: 120px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background: #FF0036;
	color: white;
	cursor: pointer;
}
#footer{
	height: 50px;
	width: 100%;
	text-align: center;
}
#footer>ul.pagination{
	margin: 0 auto;
	width: 294px;
	height: 36px;
}
ul.pagination li{
	float: left;
}
ul.pagination li a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	transition: background-color .3s;
	color: black;
    border: 1px solid #ddd;
}
ul.pagination li a.pag_active {
    background-color: #c40000;
    color: white;
    border: 1px solid #c40000;
}
ul.pagination li a:hover:not(.pag_active){
	background-color: #ddd;
}
div.center{
	text-align: center;
}
