<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商城-搜索</title>
    <script type="text/javascript" src="<?php echo base_url('public/');?>js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="<?php echo base_url('public/');?>js/search.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo base_url('public/');?>img/title.ico"/>
    <link rel="stylesheet" href="<?php echo base_url('public/');?>css/search.css"/>
</head>
<body>
<div id="header">
    <div class="header_nav">
        <p>嗨~欢迎来到西二商城</p>
        <ul>
            <li>
                <?php if (empty($_SESSION['username'])) : ?>
                <a href="<?php echo site_url('login');?>" target="_self">您好,请登录</a>
                <a href="<?php echo site_url('register');?>" target="_self">免费注册</a>
                <?php else : ?>
                <?php echo $_SESSION['username'];?>
                <a href="<?php echo site_url('login/login_out');?>">注销</a>
                <?php endif;?>
            </li>
            <li><a href="<?php echo site_url();?>">首页</a></li>
            <li><a>我的订单</a></li>
            <li><a>个人中心</a></li>
            <li><a>联系客服</a></li>
        </ul>
    </div>
    <div class="header_container">
        <div class="header_img"><img src="<?php echo base_url('public/');?>img/logo-round.png"/></div>
        <div class="header_search">
            <form action="<?php echo site_url('shopping/search');?>" method="get">
                <input type="text" name="keyword" placeholder="搜索  商品/品牌/店铺"/>
                <input type="submit" value="搜索">
            </form>
        </div>
        <div class="shopping_bag">
            <img src="<?php echo base_url('public/');?>img/shopping.png"/>
            <a href="<?php echo site_url('cart');?>" target="_blank">我的购物车</a>
        </div>
    </div>
</div>
<div class="nav_show">
    <div>
        <input type="text" placeholder="西二女装"/>
        <button><img src="<?php echo base_url('public/');?>img/search.png"/></button>
    </div>
</div>
<div id="container">
    <div class="product">
        <div class="pro_show">
            <?php if (!empty($result)):?>
            <?php foreach ($result as $res):?>
            <div class="pro">
                <img src="<?php echo base_url('public/uploads/') . $res['goods_img'];?>" class="pro_img">
                <div class="pro_text">
                    <p><em>¥<?php echo sprintf("%.2f",$res['shop_price']);?></em></p>
                    <p><?php echo $res['goods_name'];?></p>
                    <p><?php echo $res['goods_brief'];?></p>
                </div>
                <div class="add_btn">
                    <a href="<?php echo site_url('cart/add_cart') .'?gid='. $res['goods_id'];?>">加入购物车</a>
                </div>
            </div>
            <?php endforeach; ?>
            <?php else: ?>
            暂无此商品
            <?php endif;?>
        </div>
    </div>
</div>
<?php if (!empty($links)):?>
<div class="footer">
    <ul class="pagination">
        <?php echo $links ?>
        <!--<li><a class="pag_back">«</a></li>-->
        <!--<li><a class="pag_a pag_active">1</a></li>-->
        <!--<li><a class="pag_a">2</a></li>-->
        <!--<li><a class="pag_a">3</a></li>-->
        <!--<li><a class="pag_a">4</a></li>-->
        <!--<li><a class="pag_a">5</a></li>-->
        <!--<li><a class="pag_go">»</a></li>-->
    </ul>
</div>
<?php endif?>
</body>
</html>
